<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="network.dao.RegistrationDao" >
  <resultMap id="BaseResultMap" type="network.model.Registration" >
    <id column="r_id" property="rId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="l_id" property="lId" jdbcType="BIGINT" />
    <result column="s_time" property="sTime" jdbcType="TIMESTAMP" />
    <result column="e_time" property="eTime" jdbcType="TIMESTAMP" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    r_id, name, l_id, s_time, e_time, class_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="network.model.RegistrationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from registration
    where r_id = #{rId,jdbcType=BIGINT}
  </select>
  <select id="selectByClass" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from registration
    where class_name = #{className,jdbcType=VARCHAR}
    and s_time &lt; #{time}
    and e_time &gt; #{time}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from registration
    where r_id = #{rId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="network.model.RegistrationExample" >
    delete from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="network.model.Registration" >
    insert into registration (r_id, name, l_id, 
      s_time, e_time, class_name
      )
    values (#{rId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{lId,jdbcType=BIGINT}, 
      #{sTime,jdbcType=TIMESTAMP}, #{eTime,jdbcType=TIMESTAMP}, #{className,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="network.model.Registration" >
    insert into registration
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="lId != null" >
        l_id,
      </if>
      <if test="sTime != null" >
        s_time,
      </if>
      <if test="eTime != null" >
        e_time,
      </if>
      <if test="className != null" >
        class_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="lId != null" >
        #{lId,jdbcType=BIGINT},
      </if>
      <if test="sTime != null" >
        #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eTime != null" >
        #{eTime,jdbcType=TIMESTAMP},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="network.model.RegistrationExample" resultType="java.lang.Integer" >
    select count(*) from registration
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update registration
    <set >
      <if test="record.rId != null" >
        r_id = #{record.rId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.lId != null" >
        l_id = #{record.lId,jdbcType=BIGINT},
      </if>
      <if test="record.sTime != null" >
        s_time = #{record.sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eTime != null" >
        e_time = #{record.eTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.className != null" >
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update registration
    set r_id = #{record.rId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      l_id = #{record.lId,jdbcType=BIGINT},
      s_time = #{record.sTime,jdbcType=TIMESTAMP},
      e_time = #{record.eTime,jdbcType=TIMESTAMP},
      class_name = #{record.className,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="network.model.Registration" >
    update registration
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="lId != null" >
        l_id = #{lId,jdbcType=BIGINT},
      </if>
      <if test="sTime != null" >
        s_time = #{sTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eTime != null" >
        e_time = #{eTime,jdbcType=TIMESTAMP},
      </if>
      <if test="className != null" >
        class_name = #{className,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="network.model.Registration" >
    update registration
    set name = #{name,jdbcType=VARCHAR},
      l_id = #{lId,jdbcType=BIGINT},
      s_time = #{sTime,jdbcType=TIMESTAMP},
      e_time = #{eTime,jdbcType=TIMESTAMP},
      class_name = #{className,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=BIGINT}
  </update>
</mapper>